
<% var age=22%>
<%= `Age is ${age}`%>
<%- "<br>" %> 
<%= "<a href='#'> SOme liNK </a>"%>
<%- "<br>" %> 
<%- "<a href='#'> SOme liNK </a>"%>

<% if (age>18) { %>
    <p>YOU ARE IDIOT!</p>
<% } else { %>
    <p>YOU ARE NOT IDIOT!</p>
<% } %>

<%= `WELCOME ${user}`%>
